<div class="sin">
<div class="col-md-8 col-lg-8" id="estatico">
<div class="col-md-10 col-md-offset-1 tablon">
  <div class="col-md-12 bord-sepa"></div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img data-src="holder.js/1140x500/auto/#777:#555/text:First slide" alt="First slide [1140x500]" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTE0MCIgaGVpZ2h0PSI1MDAiIHZpZXdCb3g9IjAgMCAxMTQwIDUwMCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSIxMTQwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzc3NyIvPjxnPjx0ZXh0IHg9IjQwMy4xMDkzNzUiIHk9IjI1MCIgc3R5bGU9ImZpbGw6IzU1NTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZTo1M3B0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPkZpcnN0IHNsaWRlPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true">
          </div>
          <div class="item">
            <img data-src="holder.js/1140x500/auto/#666:#444/text:Second slide" alt="Second slide [1140x500]" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTE0MCIgaGVpZ2h0PSI1MDAiIHZpZXdCb3g9IjAgMCAxMTQwIDUwMCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSIxMTQwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzY2NiIvPjxnPjx0ZXh0IHg9IjM1Mi4wNjI1IiB5PSIyNTAiIHN0eWxlPSJmaWxsOiM0NDQ7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6NTNwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj5TZWNvbmQgc2xpZGU8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true">
          </div>
          <div class="item">
            <img data-src="holder.js/1140x500/auto/#555:#333/text:Third slide" alt="Third slide [1140x500]" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTE0MCIgaGVpZ2h0PSI1MDAiIHZpZXdCb3g9IjAgMCAxMTQwIDUwMCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSIxMTQwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzU1NSIvPjxnPjx0ZXh0IHg9IjM5MS4zNTkzNzUiIHk9IjI1MCIgc3R5bGU9ImZpbGw6IzMzMztmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZTo1M3B0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPlRoaXJkIHNsaWRlPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true">
          </div>
        </div>
      </div>
    <div class="col-md-12 bord-sepa"></div>
    <div class="col-md-8 abajo">
      <div class="col-md-12 imagen-col"></div>
      <div class="col-md-12 bord2">
        <div class="col-md-3 center">Fecha</div>
        <div class="col-md-6"><%= not.titulo %></div>
        <div class="col-md-3">Leer Más</div>
      </div>
      <div class="col-md-12 bord2">
        <div class="col-md-3 center">Fecha</div>
        <div class="col-md-6">Descripción</div>
        <div class="col-md-3">Leer Más</div>
      </div>
      <div class="col-md-12 bord2">
        <div class="col-md-3 center">Fecha</div>
        <div class="col-md-6">Descripción</div>
        <div class="col-md-3">Leer Más</div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="col-md-12 imagen-torneven"></div>
    </div>
     <div class="col-md-12 ranking">

    </div>
</div>
</div>
 

<div class="col-xs-12 col-md-4 col-lg-4 blanco">
  <div class="sin">
    <div class="col-xs-2 col-md-2" id="conectados">
      <ul id="ulConectados"></ul>
    </div>
    <div class="col-xs-10 col-md-10 tamano">
        <div class="col-md-10" id="mensajes_sistema">
          <div class="col-md-12 titChat1">
            <img src="/images/Mensaje_Sistema.png"></div>
          <div class="col-md-12 cuerpoChat1"></div>
        </div>
        <div class="col-md-10" id="mensajes_chat">
          <div class="col-md-12 titChat1"></div>
          <div class="col-md-12 cuerpoChat1">
            <ul id="my_ul"></ul>
          </div>
        </div>
        <div id="botones2" class="col-xs-11 col-md-10 col-md-offset-1 col-xs-offset-1">
          <% if(user) {%>
        <form id="chat_usuario" onsubmit="return false">
          <div class="col-md-7 col-xs-7 col-xs-offset-1 col-md-offset-1">
            <input id="m" class="form-control">
          </div>
          <div class="xol-md-offset-1 col-xs-offset-1 col-md-3 col-xs-3">
            <button id="enviar" class="btn btn-primary btn-sm">Enviar</button>
          </div>
          </form>
          <% } else{%>
          <div class="vacio col-md-10 col-md-offset-1"></div>
          <% } %>
        </div>

    </div>
    </div>
  </div>
</div>