doctype
html
	head
		title=title
		meta( charset='utf-8' )
		meta( http-equiv="X-UA-Compatible", content="IE=edge" )
		meta( name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/signin.css')
		script(src='/socket.io/socket.io.js')
		script(src='/javascript/jquery-1.11.1.js')
		script(src='http://code.jquery.com/jquery-1.11.1.js')
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js")
		script(src='/javascripts/prueba.js')
		script(src="/javascripts/selector_web.js")
	body
		header
			div(class="navbar")
				div(class="navbar-logo")
				div(class="navbar-menu")
					ul
						li
							a(id="indice" href="/") Indice
						li
							a(id="secundario" href="/") Secundario
					ul(class="navbar-user")
						if( user)
							li
								a(href='JavaScript:void(0);',class='dropdown-toggle',data-toggle='dropdown',id='profile')
									span #{user.user_id}
								ul(class='dropdown-menu',role='menu')
									li
										a(href='/user/')
										span(class='glyphicon glyphicon-user')
										| Perfil
									li
										a(href='/user/logout')
										span(class='glyphicon glyphicon-log-out')
										| Desconectar
						else
							li
								a(href='/conectar',id='login')
									span(class='glyphicon glyphicon-log-in')
										|  Conectar
							li
								a(class='login',id='register',href='/registrar')
									span(class='glyphicon glyphicon-user')
										|  Registrar
	block content