.tabMod{
	margin-top: 5px;
}

.tabModMenu{
	border-radius: 5px;
	background: #262626;
	border: 1px solid #616161;
	padding: 5px!important;
	color: #fff;
}

.tabModMenu li{
	list-style-type: none;
	text-align: center;
	padding-top: 5px!important;
	padding-bottom: 5px!important;
	transition: .6s ease;
	cursor: pointer;
}

.tabModMenu li:hover{
	background: #fff;
	color: #000;
	transition: .6s ease;
}

.tabModMenu li.active{
	background: #fff;
	color: #000;
}

.tabModFijo{
	border-radius: 5px;
	background: #262626;
	border: 1px solid #616161;
	padding: 5px!important;
}

.tabModFijo .form-control{
	padding: 5px!important;
	height: 24px!important;
	margin-bottom: 10px;
}

.tabModUser, .tabModNot, .tabModEst{
	margin-left:4%;
	margin-bottom: 5px;
}

.tabModUser, .tabModNot, .tabModEst, .tabModET{
		color: #fff;
}

.tabModCon{
	border: 1px dotted #616161;
	padding: 5px!important;
}

.tabTitulo{
	background: url("/images/Sistema_Titulo_Chat.png") repeat-x;
	text-align: center;
	border-radius: 5px 5px 0 0;
}

/* Códigos CSS Para Pestaña Noticias*/

.tabModListT{
	margin-left: 4%;
	margin-top: 5px;
	color: #fff;
	padding: 5px!important;
}

.tabModNotCon{
	border: 1px dotted #616161;
	height: 100px;
	padding: 5px!important;
	overflow: auto;
}

.notUrl {
	margin-left: 5%;
}

.tabModCuadro{
	border: 1px dotted #616161;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 5px!important;
}

.tabModCuadro input{
	margin-left: -15px!important;
}

.tabModCuadro label{
	line-height: 35px;
}

.noticiaBuscada{
	margin-bottom: 5px;
}

/*Codigos CSS para modificar el WYZ en la Pestaña Noticias*/

.wzCtrl{
	color: #000;
}

.letra{
	font-size: 12px;
}
/*Cambiando el color de los Modales*/

.tabNotModal .modal-content{
	color: #fff;
	background: #262626!important;
}


@media(max-width:800px ) and (min-width: 300px){
	.tabMod{
		font-size: 10px!important;
	}

	.letra{
		font-size: 10px;
	}
	.notUrl{
		margin-left: 0%;
	}

	button{
		font-size: 10px!important;
	}

}