.notCompleta{
	background: #262626;
	color: #fff;
	padding: 5px!important;
	margin-left: 5%;
	margin-top: 5px;
}

.notCompleta2{
	background: #262626;
	color: #fff;
	padding: 5px!important;
	margin-left: 5%;
	margin-top: 5px;
}

.notAutor{
	border: 1px dotted #616161;
	border-radius: 5px;
	text-align: center;
	margin-left:  3%;
	margin-top: 5px;
}

.notNoticia{
	margin-left: 1%;
	margin-top: 5px;
}

.notAutorAvatar img{
	width:100%;
}

.descCompleta{
	margin-top: 5px;
}

.modal-content{
	background: #262626;
}

@media(max-width:800px ) and (min-width: 300px){
	.notCompleta{
		font-size: 10px;
	}

	.texto{
		display: none;
	}
}