 * { 
 	margin: 0; 
 	padding: 0; 
 	box-sizing: 
 	border-box; 
 }

.sin [class*="col-"] {
    padding: 0;
}


.imagen-col{
      background: url("/images/T-Noticias.png") no-repeat;
      height: 43px;
      width: 100%;
      border-top: 15px solid #262626;
      border-bottom: 5px solid #262626;
}

.imagen-torneven{
      background: url("/images/T-TornEven.png") no-repeat;
       height: 43px;
      width: 100%;
      border-top: 15px solid #262626;
      border-bottom: 5px solid #262626;
}

.ranking{
  background: url("/images/T-Raking.png") no-repeat;
  height: 43px;
      width: 100%;
      border-top: 15px solid #262626;
      border-bottom: 5px solid #262626;
}

.con [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.sin{
      height: 100%;
}

.row{
      margin-left: auto;
}
      
html, body { 
 	font: 13px 	Helvetica, Arial; 
      background: url("/images/fondo_general.png") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 97.7%!important;
    height: 97.7%;
 }

 .textoFlotante{
      position: absolute;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 320px; 
      height:80px; 
      margin-left: -160px; 
      margin-top: -40px; 
      display: none;
      background: #262626;
      padding: 5px!important;
      border-radius: 5px;
      border: 1px solid #616161;
      text-align: justify;
      z-index: 999;
 }

 .textoFlotante .alerta{
      border-radius: 5px;
 }



.avatar{
      width:100%;
      height: 100%;
}


 #esc_principal{
      font-size: 10px;
      text-align: justify !important;
      width: 300px;
 }

/*

COLORES DEL TEXTO DEL CHAT

*/

/*Rangos Atenea*/

.Caballero_de_Atenea{
      color: #1f8fff;
      font-weight: bold;
}

.Viejo_Caballero_de_Atenea{
      font-weight: bold;
      color: #00bfdc;
}

.Caballero_de_Atenea_Omega{
      font-weight: bold;
      color: #87ced8;
}
/*Rangos de Asgard*/

.Guerrero_de_Asgard{
      font-weight: bold;
      color: #27ffff;
}

/*Rangos Poseidon*/

.General_Marino{
      font-weight: bold;
      color: #ff8c00;
}

/*Rangos Hades*/

.Surplice_de_Hades{
      color: #8f33cc;
      font-weight: bold;
}

/*Rangos Traidores y Renegados*/

.Traidor_Renegado{
      color: #dfdde1;
      font-weight: bold;
}

/*Rangos Olimpo de Zeus*/

.Angel_de_Zeus{
      font-weight: bold;
}

/*Rangos Discordia de Eris*/

.Caballero_Fantasma{
      font-weight: bold;
      color: #e9b000;
}

/*Rangos Abel*/

.Caballero_de_la_Corona{
      color: #dc0b02;
      font-weight: bold;
}

/*Rangos Lucifer*/

.Angel_Malefico{
      color: #00ff00;
      font-weight: bold;
}

/*Rangos Laberinto de Cronos*/

.Gigante, .Gigante_de_Cronos{
      color: #6e46cc;
      font-weight: bold;
}

/*

FIN DE LOS COLORES DEL TEXTO DEL CHAT

*/
#inlineRadio1{
      max-height:15px !important;
      margin-left: -40px;
      margin-bottom:0 !important;
      font-weight:400 !important;
      cursor:pointer
}

#inlineRadio2{
      max-height:15px !important;
      margin-left: -40px;
      margin-bottom:0 !important;
      font-weight:400 !important;
      cursor:pointer

}

#battle{
      background: rgba(0,0,0,0.5);
      height: 630px;
      margin-right: 80px;
      color: #fff;
      text-align: center;
      overflow: auto;
}

 .centrado{
      text-align: center;
 }

 .derecha{
      text-align: right;
 }

.privado{
      font-style: italic;
      color: #00ffba;
}

.alerta{
      background: #f2dede;
      color: #b86542;
      text-align: center;
}


.peque2{
      font-size: 10px;
      margin-top: 10px;
}

.peque{
      height: 50px;
}

#panel_administracion{
      background: rgba(0,0,0,0.5);
      color: #fff;
      text-align: center;
}

#panel_administracion ul{
      list-style-type: none;
}

#panel_administracion li{
      width: 100%;
      margin-left: 10px;
      margin-top: 10px;
}


.cuadro{
      background: rgba(0,0,0,0.5);
      color: #fff;
}

.signup{
      background: rgba(0,0,0,0.5);
}

.title{
      text-align: center;
}

.imagen{
      width: 700px;
     height: 280px !important;
}

.imagen2{
      height: 200px !important;
      width: 200px !important;
      margin-right: auto;
      margin-left: auto;
      margin-top: 10px;
}

.imagen3{
      width: 400px !important;
      height: 200px !important;
}

.centrar{
      margin-left: auto;
      margin-right: auto;
      background: rgba(0,0,0,0.5);
      color: #fff;
}



 /*Configuración general del chat*/
 #chat{
      margin-left: 5px;
      width: 529px;
      margin-top: -10px;
 }

 .tamano{
      height: 100%;
 }

#mensajes_chat{
      min-height: 66.8%;
height: 66.8%;
color: #fff;
text-align: justify;
margin-left: 8.333333333%!important;

}

::-webkit-scrollbar {
background: white;
height: 12px;
width: 5px;
}

::-webkit-scrollbar-thumb {
background: #730302;
}
::-webkit-scrollbar-corner {
background: #730302;
}
#mensajes_sistema{
     min-height: 30%;
     height: 30%;
      text-align: justify;
color: #fff;
text-align: justify;
margin-left: 8.333333333%!important;


}

.titChat1{
      background: url("/images/Sistema_Titulo_Chat.png") repeat-x;
      height: 24px;
      border-top: 1px solid #616161;
      border-left: 1px solid #616161;
      border-right: 1px solid #616161;
      border-radius: 5px 5px  0 0;
      margin-top: 10px;
}

.titChat1 img{
      margin-left: 8.3333333%;
}

.cuerpoChat1{
      height: 89%;
      overflow: auto;
      background: #262626;
       border-left: 1px solid #616161;
      border-right: 1px solid #616161;
}

  #mensajes_chat, #mensajes_sistema { 
            list-style-type: none; 
            margin: 0; 
            padding: 0; 
      }

#my_ul li{
      padding-left:5px;
      padding-right: 5px;
}

#my_ul ul{
      min-height: 90%;
      height: 90%;
}

#conectados{
      height: 90%;
      background: rgba(38,38,38,1);
      overflow: auto;
      margin-top: 5%;
      border-radius: 5px;
      border: 1px solid #616161;
}

#conectados li{
      list-style-type: none;
      padding-left: 10px;
      padding-bottom: 5px;
      background: url("/images/Borde-Inferior.png") repeat-x left bottom;
}


#conectados li:hover{
      text-decoration: underline;
      cursor: pointer;
}

#conectados ul{
      height: auto;
}

.peque{
      font-size: 10px;
      font-style: italic;
      color: #fff;
}
/*Se da forma a los botones del chat*/


#botones{
width: 100%;
background: rgba(0,0,0,0.5);
}

#botones2{
      height: 3.2%;
      background: rgba(38,38,38,1);
      padding-bottom: 5px!important;
      margin-top: -45px;
      border-left: 1px solid #616161;
      border-right: 1px solid #616161;
      border-bottom: 1px solid #616161;
      border-radius:  0 0 5px 5px;
}

#botones ul{
      width: 100%;
}

#botones li {
      display: inline-block;
      width: 90px;
      padding: 5px;
}

#botones button{
width: 90px;
padding: 5px;
}


#enviar_room{
      width: 90px;
      height: 100%;
      padding: 5px;
      margin-left: 5px;
}
/*Se le da forma al input del texto*/
      form input { 
      	border: 0; 
      	padding: 10px; 
      	; 
      	margin-left: .5%; 
            height: 28px;
            border: 1px solid #000;
      }

      

      #mensajes_chat, #mensajes_sistema { 
      	list-style-type: none; 
      	margin: 0; 
      	padding: 0; 
      }

      /*Se colocan los cuadros que corresponden a las Noticias, Batallas y Ranking*/

#noticias{
background: rgba(0,0,0,0.5);

}


#menu_batallas{
      height: 311px;
      background: rgba(0,0,0,0.5);
      margin-top: 20px;
}

#menu_batallas li{
      margin-left: 10px;
      margin-right: 10px;
}

#menu_batallas li+li{
      margin-top: -10px;
}

#ranking{
      height: 311px;
      background: rgba(0,0,0,0.5);

      margin-top: 20px;

}

#perfil{
      background: rgba(0,0,0,0.5);
      height: 630px;
      overflow-y: auto;
      overflow-x: hidden;
      margin-right: 80px;
      color: #fff;
}

#perfil2{
      text-decoration: underline;
      cursor: pointer;
}

.divisor{
      border-bottom: 1px solid #fff;
}

.libre{
      color: #000 !important;
      cursor: pointer;
}

.close{
      opacity: 1!important;
}

@media(max-width:800px ) and (min-width: 300px){
      .textoFlotante{
      font-size: 10px;
 }



}